@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 480px;
  display: grid;
  
}

@media only screen and (min-width: 481px) {
  .container {
    height: auto;
    width: auto;
    max-width: none;
  }
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  height: 250px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.card0 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 13.18.54.jpeg)
    center center no-repeat;
  background-size: 300px;
  margin: 20px;
   
}

.card0:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 13.18.54.jpeg)
    left center no-repeat;
  background-size: 600px;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fab {
  opacity: 1;
}

.card1 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.52.09.jpeg)
    right center no-repeat;
  background-size: 400px;
  margin: 20px;

}

.card1:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.52.09.jpeg)
    center center no-repeat;
  background-size: 600px;
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover .fab {
  opacity: 1;
}

.card2 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.53.31.jpeg)
    center center no-repeat;
  background-size: 300px;
}

.card2:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.53.31.jpeg)
    right top no-repeat ;
  background-size: 800px;
  }

.card2:hover h2 {
  opacity: 1;
}

.card2:hover .fab {
  opacity: 1;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fcf9f9;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  text-shadow: #0f0f0f;
}

.fab {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #454040;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.map {
  align-items: center;
  text-align: center;
  
  height: 100px;
}

/* TITLE */

h1 {
  font-size: 10vmin;
  line-height: 1.1;
}

/*body {
  background: hsl(204 100% 5%);
  
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}
*/

/*.titulo {
margin-top: 30px;
text-shadow: red;
} */

.titulo {
  margin-top: 30px;
  color: #5419e9;
  background: #ffffff;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  text-shadow: 0 +1px 4px #FFF, 0 +2px 10px #ff0, 0 +10px 20px #ff8000, 0 +18px 40px #F00;
  color: #d602dd;
  background: #ffffff;
  }

h1, p, body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 20px;
  font-weight: bold;   
}

.asistencia {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 20px;
  font-weight: bold;
}

/* .map {
  height: 200px;
  width: 300px;
  align-items: center;
  padding: 50px;
}