@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) {
  .container {
    height: 100vh;
    width: 100vw;
    max-height: none;
    max-width: none;
    min-height: 300px;
    min-width: 250px;
  }
}

@media only screen and (min-width: 480px) {
  .container {
    min-height: 400px;
    min-width: 320px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    min-height: 600px;
    min-width: 480px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    min-height: 800px;
    min-width: 640px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-height: 800px;
    max-width: 1024px;
    min-height: 800px;
    min-width: 1024px;
  }
}

// get code to view 3d images ?

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  height: 250px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 13.18.54.jpeg)
    center center no-repeat;
  background-size: 300px;
}

.card0:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 13.18.54.jpeg)
    left center no-repeat;
  background-size: 600px;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fab {
  opacity: 1;
}

.card1 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.52.09.jpeg)
    right center no-repeat;
  background-size: 500px;
}

.card1:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.52.09.jpeg)
    center center no-repeat;
  background-size: 600px;
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover .fab {
  opacity: 1;
}

.card2 {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.53.31.jpeg)
    center center no-repeat;
  background-size: 300px;
}

.card2:hover {
  background: url(../images/WhatsApp\ Image\ 2023-04-28\ at\ 12.53.31.jpeg)
    right top no-repeat ;
  background-size: 800px;
  }

.card2:hover h2 {
  opacity: 1;
}

.card2:hover .fab {
  opacity: 1;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.fab {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}